node_modules/
dist/
out/
release/
dist-release/*
!dist-release/
!dist-release/latest.yml
!dist-release/*.blockmap
coverage/
dist-artquest-build*/
dist-build*/
public/fundamentals/pages/
*.log
*.zip
*.exe
.DS_Store
Thumbs.db
.env
.env.*
*.local
